body {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    background: rgb(11,129,70);
    background: linear-gradient(148deg, rgba(11,129,70,1) 0%, rgba(36,78,148,1) 51%, rgba(233,70,193,1) 100%);
}

h1 {
    background: -webkit-linear-gradient(#f0824f, #419756);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#basic {
    background: -webkit-linear-gradient(#ad28ad, #3835cf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mlp {
    color: pink;
}

#bobb {
    border-radius: 50%;
}

#walker {
    border-radius: 0%;
}

.httyd{
    color: orangered;
}

#purLiFu {
    border-radius: 5%;
}

#pinkEye {
    border-radius: 5%;
}

#redPan {
    border-radius: 5%;
}

.zepeto{
    color: greenyellow;
}

#zepeto1 {
    border-radius: 10%;
}

#zepeto2 {
    border-radius: 10%;
}

#other {
    color: purple;
}

#atom {
    background: -webkit-linear-gradient(#264d2d, #632642);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}